<<<<<<< HEAD
#footer-ga {
    text-align: center;
}

.iconfont {
    margin-right: 8px;
}

.layui-icon {
    margin-right: 8px;
}

iframe {
    width: 100%;
    height: 100%;

}

.layui-body {
    overflow: hidden;
}

.layui-logo {
    background-color: #23262E !important;
}
 
=======
#footer {
    text-align: center;
}
iframe {
    width: 100%;
    height: 100%; 
}
.layui-body {
    overflow: hidden;
}
.layui-logo {
    background-color: #23262E !important;
}
.iconfont {
    margin-right: 5px;
}

>>>>>>> index
.userinfo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
<<<<<<< HEAD
    /* 禁止用户选中文字 */
    user-select: none;
}


.text-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #009688;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    position: relative;
    top: 4px;
    margin-right: 5px;

=======
    /* 禁止用户选中内容 */
    user-select: none;
}
.layui-side-scroll .userinfo {
    border-bottom: 1px solid #282b33;
}
.textavatar {
   position: relative;
  top: 1.5px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: skyblue;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff !important;
>>>>>>> index
}
.layui-nav-img {
    width: 40px;
    height: 40px;
<<<<<<< HEAD
}
.layui-side-scroll .userinfo {
    border-bottom: 1px solid #282b33 ;
=======
>>>>>>> index
}